@import 'variables/stylesVariables';

.backplate {
  width: 100%;
  height: $headerHeight;
  box-sizing: border-box;
  background: $headerBg;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 15;

  &__dark {
    background: $darkBgHeader;
    @include themeSwitchTransition;

    .svg {
      display: block;
      color: $darkTextColor;
      @include themeSwitchTransition;
    }
  }
}

.root {
  width: $siteWidth;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $sideSpace;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.logoIcon {
  box-sizing: border-box;
  color: $topMenuLink;
  transition: 1.5s ease-in-out;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.19);
}

.logo:hover .logoIcon {
  transform: rotate3d(0, 1, 0, 6.284rad);
  transition: 1.5s ease-in-out;
}

.svg {
  display: block;
  color: $mainColor;
}

.logoName {
  margin-left: 16px;
  font-size: 32px;
  font-weight: bold;
  color: $mainText;
  font-style: italic;
  letter-spacing: 1px;
}

.search {
  margin-left: 20px;
}

.dropdownMenu {
  margin-left: auto;
}

@media screen and (max-width: $siteWidthMobile) {
  .root {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;
  }
  .logo {
    display: none;
  }
  .search {
    margin-left: 50px;
  }
}
