@import 'variables';

.backplate {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.root {
  display: flex;
  margin-top: 10px;
  width: $siteWidth;
  user-select: none;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  line-height: 1.8;
}

.item {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}

.separator {
  margin: 0 5px;
}
