@import 'variables/stylesVariables';

.root {
  display: block;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__error {
    min-height: 24px;
    padding: 4px 8px;
    color: $errorMessage;
    font-size: 12px;
    box-sizing: border-box;
  }

  &_required {
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    top: 10px;
    left: -5px;
    z-index: 10;
    color: $errorMessage;
    line-height: 1;
  }
}

.input {
  display: block;
  padding: 0 14px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
  font-size: 16px;
  color: #666;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  box-sizing: border-box;

  &::placeholder {
    color: #999;
    font-size: 14px;
  }
}

.file {
  font-size: 14px;
}

.checkbox {
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 20px;
}
