@import 'variables/stylesVariables';

.root {
  // overflow: hidden;
}

.title {
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.tableWrapper {
  overflow-x: scroll;
  padding-bottom: 2px;
}

.tableWrapper::-webkit-scrollbar {
  height: 4px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #777;
}

.patients {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.patientRow {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__num {
    margin-right: 10px;
  }
}

.recordCount {
  margin-left: 4px;
}

.lastDateReception {
  width: 200px;
}

.age {
  width: 50px;
}

.sex {
  width: 100px;
}

td,
th {
  text-align: center;
}

th {
  font-size: 14px;
  padding: 10px;
  background-color: $mainColor;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.9);

  &:first-child {
    border-left-color: $mainColor;
  }

  &:last-child {
    border-right-color: $mainColor;
  }
}

td {
  font-size: 12px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.addPatientButton {
  margin-top: 20px;
}
