@import 'variables/stylesVariables';

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.subHeader {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &__inner {
    width: $siteWidth;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
}

.backplate {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  width: $siteWidth;
  margin-top: 20px !important;
}
